

/*-------------------------------*/
/*           Style Mods          */
/*-------------------------------*/

.sp-container button {
    background: #222;
    padding: 10px;
    text-shadow: none;
    color: #fff;
    margin-top: 5px;
}

.sp-container button:hover {
    background: #444;
}

.sp-cancel {
    display: none;
}

.sp-container {
    background: #222;
    border: 1px solid #333;
    border-radius: 5px;
}

.sp-picker-container {
    border: 0;
}

.sp-replacer {
    background: #333;
    border: 1px solid #444;
    border-radius:5px;
    color: #bbb;
}

.sp-replacer:hover, 
.sp-replacer.sp-active {
    border: 1px solid #ccc;
    color: #bbb;
    background: #444;
}

.section-lbl {
    color: #ccc;
    font-size: 14pt;
}

.picker-label {
    color: #aaa;  
    margin-bottom: 5px;
}

hr {
    height: 1px;
    border: 0;
    background-color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo {
    margin: 20px;
    width: 170px;
    height: auto;
}

.tool-section {
    width: 220px;
    padding-left: 10px;
    padding-right: 10px;
}

.mtop-10 {
    margin-top: 10px;
}

.mleft-10 {
  margin-left: 10px;
}

.mbot-10 {
  margin-bottom: 10px;
}

.dark-tbox {
    border: 1px solid #444;
    padding: 5px;width:100%;
    border-radius: 5px;
    background: #222;
    text-shadow: none;
    color: #fff;
}

button {
    border: 1px solid #444;
    border-radius: 5px;
    background: #222;
    text-shadow: none;
    color: #fff;
    padding: 5px 10px 5px 10px;
}

.download-btn {
    width: 100%;
}

.row-error {
  color: #ff1103;
}

.row-social {
  font-size: 26pt;
  text-align: center;
}

.row-social a {
  color: #aaa;
}

.row-social a:hover {
  color: #fff;
}

.misc-text {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  color: #fff;
  position: absolute;
  right: 8px;
  bottom: 8px;
  padding: 4px;
  font-size: 8pt;
}