<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://farbelous.github.io/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
    <style type="text/css">
        /* Sticky footer styles
-------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }
        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 156px;
        }


        /* Custom page CSS
        -------------------------------------------------- */
        /* Not required for template or sticky footer method. */

        body > .container {
            padding: 60px 15px 0;
        }
        .container .text-muted {
            margin: 20px 0;
        }

        .footer > .container {
            padding-right: 15px;
            padding-left: 15px;
        }

        code {
            font-size: 80%;
        }

        .sample-selector {
            margin:0px;
        }

        .panel-picker {
            margin:10px;
        }
    </style>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://farbelous.github.io/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
    <script type="text/javascript">
        var fgc = "000000";
        var bgc = "ffffff";
        var fgs = true;
        function tog() {
            fgs = !fgs;
            if (fgs) {
                $('.selector-bg').hide();
                $('.selector-fg').show();
            } else {
                $('.selector-bg').show();
                $('.selector-fg').hide();
            }
        }
        function ref() {
            $('.bb').attr('style', 'background:url(/api/name/1920/1080/' + fgc + '/caffeine);background-position:50% 50%;background-color:#' + bgc + ";background-repeat:no-repeat;");
        }
    </script>
</head>
<body class="bb">
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <a onclick="tog()" href="#" class="btn btn-default"><i class="glyphicon glyphicon-adjust"></i></a>
            </div>
            <div class="col-md-2">
                <div class="selector selector-fg"></div>
                <div class="selector selector-bg"></div>
            </div>
            <div class="col-md-9">

            </div>
        </div>
    </div>
</footer>
<script>
    $('.selector-fg').colorpicker({
        color: fgc,
        container: true,
        inline: true
    });
    $('.selector-bg').colorpicker({
        color: bgc,
        container: true,
        inline: true
    });
    $('.selector-fg').on('changeColor', function(e) {
        fgc = e.color.toHex().substring(1);
        ref();
    })
    $('.selector-bg').on('changeColor', function(e) {
        bgc = e.color.toHex().substring(1);
        ref();
    })
    $('.selector-bg').hide();
</script>
</body>
</html>