<html>
    <head>
        <title>Avogadrio - Molecular Wallpaper Generator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://daneden.github.io/animate.css/animate.min.css">
        <link rel="stylesheet" type="text/css" href="/bower_components/spectrum/spectrum.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/bower_components/spectrum/spectrum.js"></script>
        <script type="text/javascript" src="/bower_components/jquery-file-download/src/Scripts/jquery.fileDownload.js"></script>
        <script type="text/javascript" src="/js/hamburger.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="overlay"></div>
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <img src="images/logo.svg" class="logo">
                <div class="tool-section">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="section-lbl">Compound</div>
                            <hr>
                        </div>
                    </div>
                    <div class="row mtop-10">
                        <div class="col-xs-12">
                            <input type="text" class="comp-name dark-tbox" value="caffeine">
                        </div>
                    </div>
                    <div class="row row-error mtop-10" style="display:none;">
                        <div class="col-xs-12">
                            Invalid compound name!
                        </div>
                    </div>
                    <div class="row mtop-10">
                        <div class="col-xs-12 text-right">
                            <button class="update-btn">Update</button>
                        </div>
                    </div>
                </div>
                <div class="tool-section mtop-10">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="section-lbl">Colours</div>
                            <hr>
                        </div>
                    </div>
                    <div class="row mtop-10">
                        <div class="col-xs-6">
                            <div class="picker-label">Molecule:</div>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="picker picker-fg">
                        </div>
                    </div>
                    <div class="row mtop-10">
                        <div class="col-xs-6">
                            <div class="picker-label">Background:</div>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="picker picker-bg">
                        </div>
                    </div>
                </div>
                <div class="tool-section mtop-10">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="section-lbl">Download</div>
                            <hr>
                        </div>
                    </div>
                    <div class="row mtop-10">
                        <div class="col-xs-12">
                            <button class="download-btn">Download!</button>
                        </div>
                    </div>
                </div>
            </nav>
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
            </div>
        </div>
    </body>
</html>