{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block banner %}
<div class="banner-giant">
    <div class="banner-giant-container">
        <div class="banner-giant-text">
            <img src="/images/icon.png" class="logo"/>
            <h3>Lorem Ipsum</h3>
            <p>
                Suspendisse quis rhoncus felis, non vulputate est.
            </p>
            <a class="btn btn-default" href="/project-1">Read more</a>
            <a class="btn btn-primary" target="_blank" href="#">GitHub</a>
        </div>
    </div>
    <div class="banner-giant-divider-top"></div>
    <div class="banner-giant-divider-bottom"></div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Lorem Ipsum</h1>
        <p>
            Aliquam erat volutpat. Nunc id orci quis nibh laoreet egestas. Suspendisse quis enim sapien. Phasellus ut
            nunc vel diam cursus vulputate. Pellentesque nec eleifend felis. Duis quis tincidunt sem. Phasellus sagittis
            magna sed ligula ultricies, at imperdiet metus condimentum. Sed aliquam libero ac urna porta, a euismod
            lorem aliquet.
        </p>
        <h3>Sed Lectus Diam</h3>
        <div class="octocat-icecream"></div>
        <p>
            <i>&quot;Duis venenatis tincidunt ullamcorper.&quot;</i>
        </p>
        <p>
            Integer mattis posuere orci, vel iaculis augue pellentesque porttitor. Morbi vitae tortor mi. Duis maximus
            euismod laoreet. Cras tempor maximus augue sed faucibus.
        <p>
            Donec porttitor nunc ligula, quis feugiat mi porttitor quis. Ut elementum mi sit amet finibus vulputate. Ut
            vitae faucibus nisl, sed malesuada lacus. Pellentesque sit amet tortor commodo arcu facilisis ultricies.
            Etiam convallis feugiat sapien, ac luctus diam pretium vitae. Duis et mi vulputate, condimentum justo ac,
            tempus sem.
        </p>
        <p>
            Etiam id laoreet dolor. Sed cursus quam a hendrerit euismod. Proin orci urna, fermentum ut ullamcorper at,
            fermentum quis sapien. Donec vel dictum dui.
        </p>
        <h3>Fusce Mollis Elit Lectus</h3>
        <p>
            Aenean velit tellus, maximus vulputate ex id, bibendum venenatis purus. Nullam varius turpis ac arcu laoreet
            semper. Sed mi purus, rutrum mattis sapien ac, malesuada accumsan tortor. Fusce turpis tellus, blandit ut
            imperdiet ut, tempus in eros.
        </p>
    </div>
</div>
{% endblock %}
