<html>
    <head>
        <title>avogadr.io - Molecular Wallpaper Generator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- Other -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://daneden.github.io/animate.css/animate.min.css">
        <link rel="stylesheet" type="text/css" href="/bower_components/spectrum/spectrum.css">
        <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/bower_components/spectrum/spectrum.js"></script>
        <script type="text/javascript" src="/js/hamburger.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        {% include "_analytics.html.twig" %}
    </head>
    <body>
        <div id="wrapper">
            <div class="overlay"></div>
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <div class="logo-wrapper">
                    <img src="images/logo.svg" class="logo">
                </div>
                <div class="tool-section">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="section-lbl">Compound Name</div>
                            <hr>
                        </div>
                    </div>
                    <div class="row mtop-10">
                        <div class="col-xs-12">
                            <input type="text" class="comp-name dark-tbox" value="" placeholder="e.g. caffeine">
                        </div>
                    </div>
                    <div class="row row-error row-error-compound mtop-10" style="display:none;">
                        <div class="col-xs-12">
                            Invalid compound name!
                        </div>
                    </div>
                    <div class="row mtop-10">
                        <div class="col-xs-12 text-right">
                            <button class="update-btn">Update</button>
                        </div>
                    </div>
                </div>
                <div class="tool-section mtop-10">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="section-lbl">SMILES Structure</div>
                            <hr>
                        </div>
                    </div>
                    <div class="row mtop-10">
                        <div class="col-xs-12">
                            <input type="text" class="comp-smiles dark-tbox" value="CCN(CC)C1=CC2=C(C=C1)N=C3C4=CC=CC=C4C(=O)C=C3O2">
                        </div>
                    </div>
                    <div class="row row-error row-error-smiles mtop-10" style="display:none;">
                        <div class="col-xs-12">
                            Invalid SMILES structure!
                        </div>
                    </div>
                    <div class="row mtop-10">
                        <div class="col-xs-12 text-right">
                            <button class="update-smiles-btn">Update</button>
                        </div>
                    </div>
                </div>
                <div class="tool-section mtop-10">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="section-lbl">Colours</div>
                            <hr>
                        </div>
                    </div>
                    <div class="row mtop-10">
                        <div class="col-xs-6">
                            <div class="picker-label">Molecule:</div>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="picker picker-fg">
                        </div>
                    </div>
                    <div class="row mtop-10">
                        <div class="col-xs-6">
                            <div class="picker-label">Background:</div>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="picker picker-bg">
                        </div>
                    </div>
                </div>
                <div class="tool-section mtop-10">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="section-lbl">Download</div>
                            <hr>
                        </div>
                    </div>
                    <div class="row mtop-10">
                        <div class="col-xs-12">
                            <button class="download-btn">Download!</button>
                        </div>
                    </div>
                </div>
                <div class="tool-section mtop-10">
                    <div class="row">
                        <div class="col-xs-12">
                            <hr>
                        </div>
                    </div>
                    <div class="row mtop-10 mbot-10 row-social">
                        <div class="col-xs-12">
                            <a href="{{ github_url }}/avogadrio"><i class="fa fa-github"></i></a>
                            <a href="{{ twitter_url }}" class="mleft-10"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </nav>
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
            </div>
            <div class="misc-text">
                MIT Licensed | Inspired by <a target="_blank" href="https://www.youtube.com/user/TheRedNile">Nile Red's awesome chemistry videos</a>.
            </div>
        </div>
    </body>
</html>
