{% extends "base.html.twig" %}

{% block title %}Project 2{% endblock %}

{% block banner %}
<div class="banner-giant-purple">
    <div class="banner-giant-container">
        <div class="banner-giant-text">
            <img src="/images/icon.png" class="logo"/>
            <h3>Project 2</h3>
            <p>
                Suspendisse quis rhoncus felis, non vulputate est.
            </p>
            <a class="btn btn-default" href="#">Download</a>
            <a class="btn btn-primary" target="_blank" href="#">GitHub</a>
        </div>
    </div>
    <div class="banner-giant-divider-top"></div>
    <div class="banner-giant-divider-bottom"></div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Project 2</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed orci in nulla ultrices porta et sed
            felis. Aliquam aliquam leo nec maximus imperdiet. Suspendisse quis rhoncus felis, non vulputate est.
            Vestibulum diam ex, suscipit sed est vel, fringilla sodales dui. Maecenas viverra consectetur risus in
            hendrerit. Sed sit amet venenatis leo. Curabitur placerat pellentesque nunc, at eleifend massa scelerisque
            ac. Suspendisse potenti. Donec semper nunc non est venenatis, ac lacinia tellus placerat. Proin vel est in
            erat interdum vestibulum in in orci. Suspendisse hendrerit lorem dolor, nec ornare urna elementum fringilla.
            Fusce malesuada nulla at eros porttitor, et maximus ipsum tristique. Maecenas vel mi nisi. Donec mattis,
            tellus a pellentesque posuere, elit elit sagittis risus, venenatis condimentum lacus nibh sed velit. Donec
            vestibulum nisl a est facilisis, ultricies consectetur ipsum varius. Suspendisse molestie scelerisque velit.
        </p>
    </div>
</div>
{% endblock %}
